/* -------------------- */  
/* "STAY" / WELCOME box */
/* -------------------- */  

  #welcome
  { 
    margin-top: -5%;
  }

  .welcome-box
  {
    display: block;  
  }

  .welcome-item

  {
    margin: 1%;
    flex: 1;
    display: flex;
    align-items: center; 
    justify-content: center;
  }

  .welcome-image
  {
    margin: 1%;
    height: auto;
    max-width: 100%;
    
    transition: transform 1s ease, filter 0.3s ease;
    
    filter: brightness(100%);
  }

  .welcome-image:hover
  {
    transform: scale(1.05);  
    filter: brightness(102%);
  }

  .welcome-text
  {
    flex:1;
  }

