@media (max-width: 1920px) and (max-height: 1080px) and (orientation: landscape)
{
/* ---- */    
/* DIVS */
/* ---- */  

  .box
  {
    margin-bottom: 30vh;
  }
  
  .content-left
  {
    max-width: 70%;
  }
  
  .content-right
  {  
    top:80vh;
    right: 1%;
  }
  
/* ----- */  
/* COVER */
/* ----- */ 

  .video-container
  {  
    height: 71vh;
    width: 100%;  
    
    position:fixed;    
  
    display:block;
  
    justify-content: center;
    justify-self: center;
    align-self:center;   
  
    overflow: hidden;
  
    top: 8%;
  }
  
  #cover
  {
  
    position: absolute;
    top: 50%;
    left: 50%;
    right:50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
  
    display:block;
  
    justify-content: center;
    justify-self: center;
    align-self:center;   
   
  }
  
  #tagline
  {  
    font-size: 1.7rem;
  }
  
  #arrow-quiver
  {
    bottom: 12.1%;
  }
 
/* -------- */    
/* NAV FOOT */
/* -------- */  
  
  .nav-text
  {
    font-size: 1.5rem;
    padding:0.5%;
    margin: 1%;
  }

  .nav-name
  {
    font-size: 2.0rem;
    padding:0.5%;
  }

  footer
  {
    justify-content: center;
  }
  
  .foot-text
  {
    font-size: 1.1rem; 
  }
  
  /* BOXES */
  
  .welcome-box
  {      
    display: block;  
  }  

  p
  {
    font-size: 1.1rem;
  }
  .project-list-box
  {
    bottom: 20vh;
  }
  
  
  #project-list
  {
    margin-top: 0%;
  }
  
  .project-list-box
  {  
    align-items:center; 
  }
  
  .project-list-item
  {
    margin: 1%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
  }
  
  .project-list-image
  {
    margin: 0%;
    max-height: 50%;
    max-width: 50%; /* Set max-width to 100% */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  }

  #bottom
  {
    height: 50vh;
    visibility: hidden;
   }
}
